:local(.navbar) {
  padding-top: 30px;
}

:local(.navbarBrand) {
  height: 100%;  
}

:local(.btn) {
  padding: 6px 12px !important;
}

@media screen and (min-width: 768px) {
  :local(.navbarRight) {
    display: flex;
    align-items: center;
    height: 100px;
  }
}
